.payment_page {
	font-size: 11px;
	ul li a {
		color: #bfbfbf;
	}

	ul li.active a {
		background-color: #ffffff;
		color: #0082c3;
		text-decoration: none;
	}

	ul li:hover a {
		color: #7f7f7f;
		text-decoration: none;
	}

	ul li:focus a {
		color: #0082c3;
		text-decoration: none;
	}

	ul {
		list-style-type: none;
	}
	
	li {float: left;}

	.blue_color {
		color: $blue_color;
	}
}