html {
    font-size: 16px;
}

body {
    background: #f1f1f1;
}

#appContainer {
    background-color: #f1f1f1;
}

.navbar-nav>li>a {
    padding-top: 0.625rem;
    padding-bottom: 0px;
    color: #ffffff;
}

.container {
    width: 100%;
    background-color: #f1f1f1;
}

.footer_text {
    .btn {
        color: #ffffff;
    }
}

.padding_inner_box {
    margin-right: 0.9375rem;
}

.about_link {
    font-size: 0.875rem;
    color: #66cfff;
}

// larger than 2560px 
@media (min-width: 180em) {
    .seperate_line {
        padding-top: 10px;
    }
    #navbar1 {
        margin-top: 0.2em;
    }
    .content_text {
        padding: 0 1.25rem;
        .blue_header {
            tr th {
                padding-left: 1.3rem;
            }
        }
        tbody tr td {
            border: none;
        }
        tbody {
            border-bottom: 1px solid #ddd;
        }
    }
    .header_text {
        padding: 2.5rem 1.25rem 0 1.25rem;
        font-size: 2.875rem;
        hr {
            margin-top: 0.625rem;
        }
        a.about_link:focus {
            color: #65ccff;
        }
    }
    .footer_text {
        padding: 0 1.25rem;
        hr {
            margin-bottom: 1.25rem;
        }
        .btn.close_button {
            margin-right: 2.7rem;
        }
    }
    .white-panel {
        height: 100%;
    }
    .text_footer_color {
        padding-top: 1rem;
        padding-top: 1rem;
        font-size: 0.6875rem;
    }
    .opencase_margin {
        padding: 10rem 6.125rem 0 6.125rem;
        font-size: 0.6875rem;
        width: 100%;
        height: 90%;
        margin-bottom: 0.9375rem;
        .content_text {
            height: calc(100% - 220px);
            //min-height: 385px;
        }
        .white_panel {
            //min-height: 600px;
            height: 100%;
        }
        .right_header_text {
            padding-top: 3.8rem;
            .btn-dark-yellow {
                width: 13em;
                height: 3.5em;
                line-height: 3;
                font-size: 1.5em;
            }
        }
        .text_align_center {
            font-size: 0.9375rem;
            padding-top: 1.43rem;
            padding-left: 1.47rem;
        }
        .footer_text.payment_page {
            font-size: 16px;
            .inline-list {
                padding-top: 0.8%;
            }
            hr {
                margin-bottom: 20px;
            }
        }
        .row {
            padding: 0;
        }
    }
    .homepage .opencase_margin {
        padding: 10rem 5.2rem 0 5.2rem;
        font-size: 0.6875rem;
        width: 100%;
        height: 90%;
        .left_panel_one {
            width: 77%;
        }
        .right_panel_one {
            width: 23%;
        }
        .content_text {
            height: calc(100% - 270px);
            //min-height: 360px;
        }
        .white-panel {
            //min-height: 550px;
            height: 100%;
        }
        .header_text {
            padding: 2.5rem 1.4rem 0 1.4rem;
            font-size: 2.875rem;
            hr {
                margin-top: 0.625rem;
            }
            .remove_icon {
                display: none;
            }
        }
        .footer_text {
            hr {
                margin-bottom: 1.4rem;
            }
            .close_button {
                height: 55px;
                width: 120px;
                font-size: 1.25em;
            }
        }
        //Open New Matter 
        .dev {
            bottom: 7%;
            .content_text {
                height: calc(100% - 20em);
            }
            .header_text {
                padding: 2.5rem 1.4rem 0 1.4rem;
                font-size: 1.875rem;
            }
        }
    }
    .text_footer_color {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .info_page {
        .remove_icon {
            height: 30px;
        }
    }
    .info_page .col-sm-9 .content_text {
        padding: 1.875rem 3.4rem 0 2.3rem;
    }
    .index_page {
        padding: 8.75rem 5.2rem 0 5.2rem;
    }
    .account_page .opencase_margin {
        padding: 10rem 5.2rem 0 5.2rem;

        .left_panel_two {
            width: 77%;
        }
        .right_panel_two {
            width: 23%;
        }
        .subpanel_content {
            .row {
                padding-bottom: 0.5em;
            }
            .banner_label {
                text-align: right;
            }
            .padding_right_middle {
                //padding-right: 4em;
            }
            label {
                font-size: 0.75em;
            }
        }
        .profile_panel {
            .panel_item {
                margin: 0 0.7em;
                padding: 0.7em 0.85em;
                border-bottom: 2px solid #d9d9d9;
            }
            .panel_selectedItem {
                margin: 0 0.7em;
                padding-bottom: 0.875em;
                border-bottom: 2px solid #d9d9d9;
                .subpanel_title {
                    padding: 1em 1.5em;
                    .pull-left {
                        font-weight: 600;
                        font-size: 1em;
                    }
                }
                .subpanel_footer {
                    padding-top: 0.7em;
                    margin-right: 0.85em;
                }
                .subpanel_content {
                    font-size: 0.75em;

                    .form-control {
                        height: 3em;
                        font-size: 1rem;
                        border-radius: 0;
                    }

                    .banner_label {
                        height: 3em;
                        top: 50%;
                        transform: translateY(25%);
                    }
                }
            }
        }
    }
}

// large device for 2560px
@media (max-width: 180em) {
    .top_header {
        padding-left: 7rem;
        padding-top: 1em;
        height: 80px;
        .navbar-nav > li > a {
            font-size: 1.2rem;
        }
        .brand-image {
            background-size: auto 70px;
        }
        .navbar-brand {
            height: 50px;
        }
        #navbar1 {
            margin-top: 0.6em;
        }
        .seperate_line {
            padding-top: 10px;
        }
    }
    .below_header {
        height: 45px;
        .submenu.navbar-collapse #selectElement li > a {
            font-size: 1rem;
            //padding-top: 6.6%;
        }
        .navbar-nav > li > a {
            padding-top: 0.9375rem;
        }
    }
    .content_text {
        padding: 0 1.25rem;
        .blue_header {
            tr th {
                padding-left: 1.3rem;
            }
        }
        tbody tr td {
            border: none;
        }
        tbody {
            border-bottom: 1px solid #ddd;
        }
    }
    .header_text {
        padding: 2.5rem 1.25rem 0 1.25rem;
        hr {
            margin-top: 0.625rem;
        }
        a.about_link:focus {
            color: #65ccff;
        }
    }
    .footer_text {
        padding: 0 1.25rem;
        hr {
            margin-bottom: 1.25rem;
        }
        .btn.close_button {
            margin-right: 2.7rem;
        }
    }
    .white-panel {
        height: 100%;
    }
    .text_footer_color {
        padding-top: 1rem;
        padding-top: 1rem;
        font-size: 0.6875rem;
    }
    .opencase_margin {
        padding: 10rem 6.125rem 0 6.125rem;
        font-size: 0.6875rem;
        width: 100%;
        height: 90%;
        margin-bottom: 0.9375rem;
        .content_text {
            height: calc(100% - 240px);
            //min-height: 385px;
        }
        .white_panel {
            //min-height: 600px;
            height: 100%;
        }
        .header_text {
            padding: 2.5rem 1.4rem 0 1.4rem;
            font-size: 2.475rem;
            hr {
                margin-top: 0.625rem;
            }
        }
        .right_header_text {
            padding-top: 3.1rem;
            .btn-dark-yellow {
                width: 13em;
                height: 3.5em;
                line-height: 3;
                font-size: 1.5em;
            }
        }
        .text_align_center {
            font-size: 0.9375rem;
            padding-top: 1.43rem;
            padding-left: 1.47rem;
        }
        .footer_text.payment_page {
            font-size: 16px;
            .inline-list {
                padding-top: 0.8%;
            }
            hr {
                margin-bottom: 1.2em;
            }
        }
        .row {
            padding: 0;
        }
    }
    .homepage .opencase_margin {
        padding: 10rem 5.2rem 0 5.2rem;
        font-size: 0.6875rem;
        width: 100%;
        height: 90%;
        .left_panel_one {
            width: 77%;
        }
        .right_panel_one {
            width: 23%;
        }
        .content_text {
            height: calc(100% - 260px);
            //min-height: 360px;
        }
        .white-panel {
            //min-height: 550px;
            height: 100%;
        }
        .header_text {
            padding: 2.5rem 1.4rem 0 1.4rem;
            font-size: 2.475rem;
            hr {
                margin-top: 0.625rem;
            }
            .remove_icon {
                display: none;
            }
        }
        .footer_text {
            hr {
                margin-bottom: 1.4rem;
            }
            .close_button {
                height: 55px;
                width: 120px;
                line-height: 2;
                font-size: 1.15em;
            }
        }
        //Open New Matter 
        .dev {
            bottom: 7%;
            .content_text {
                height: calc(100% - 20em);
            }
        }
    }
    .info_page {
        .remove_icon {
            height: 30px;
        }
    }
    .info_page .col-sm-9 .content_text {
        padding: 1.875rem 3.4rem 0 2.3rem;
    }
    .index_page {
        padding: 8.75rem 5.2rem 0 5.2rem;
    }
    .text_footer_color {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .account_page .opencase_margin {
        padding: 10rem 5.2rem 0 5.2rem;

        .left_panel_two {
            width: 77%;
        }
        .right_panel_two {
            width: 23%;
        }
        .panel_item {
            padding: 0.5em 0.8em;
        }
        .panel_selectedItem {
            padding-left: 1em;
            padding-right: 1em;
        }
        .subpanel_content {
            .row {
                padding-bottom: 0.5em;
            }
            .banner_label {
                text-align: right;
            }
            .padding_right_middle {
                //padding-right: 4em;
            }
            label {
                font-size: 0.75em;
            }
        }
        .profile_panel {
            .panel_item {
                margin: 0 0.7em;
                padding: 0.7em 0.85em;
                border-bottom: 2px solid #d9d9d9;
            }
            .panel_selectedItem {
                margin: 0 0.7em;
                padding-bottom: 0.875em;
                border-bottom: 2px solid #d9d9d9;
                .subpanel_title {
                    padding: 1em 1.5em;
                    .pull-left {
                        font-weight: 600;
                        font-size: 1em;
                    }
                }
                .subpanel_footer {
                    padding-top: 0.7em;
                    margin-right: 0.85em;
                }
                .subpanel_content {
                    font-size: 0.75em;

                    .form-control {
                        height: 3em;
                        font-size: 1rem;
                        border-radius: 0;
                    }

                    .banner_label {
                        height: 3em;
                        top: 50%;
                        transform: translateY(25%);
                    }
                }
            }
        }
        .subpanel_content {
            .row {
                padding-bottom: 0.5em;
            }
            .banner_label {
                text-align: right;
            }
            .padding_right_middle {
                //padding-right: 4em;
            }
            label {
                font-size: 0.75em;
            }
        }
        .profile_panel {
            .panel_item {
                margin: 0 0.7em;
                padding: 0.7em 0.85em;
                border-bottom: 2px solid #d9d9d9;
            }
            .panel_selectedItem {
                margin: 0 0.7em;
                padding-bottom: 0.875em;
                border-bottom: 2px solid #d9d9d9;
                .subpanel_title {
                    padding: 1em 1.5em;
                    .pull-left {
                        font-weight: 600;
                        font-size: 1em;
                    }
                }
                .subpanel_footer {
                    padding-top: 0.7em;
                    margin-right: 0.85em;
                }
                .subpanel_content {
                    font-size: 0.75em;

                    .form-control {
                        height: 3em;
                        font-size: 1rem;
                        border-radius: 0;
                    }

                    .banner_label {
                        height: 3em;
                        top: 50%;
                        transform: translateY(25%);
                    }
                }
            }
        }
    }
}

// normal device for 1920 below
@media (max-width: 2020px) {
    .top_header {
        height: 70px;
        .navbar-nav>li>a {
            color: #ffffff;
            font-size: $FONT15;
            font-family: Hind-Regular;
        }
        .brand-image {
            background-size: auto 60px;
        }
        .navbar-nav>li>a:hover {
            color: #ffffff;
            font-family: Hind-Medium;
            text-decoration: underline;
        }
        .dropdown-menu {
            top: 140%
        }
        #navbar1 {
            margin-top: 0.1em;
        }
    }
    .below_header {
        box-shadow: 5px 5px 5px #7f7f7f;
        padding: 0 4rem;
        height: 2.5rem;
        background-color: #ffffff;
        .navbar-nav>.active>a {
            background-color: #ffffff;
        }
        a.navbar-brand {
            height: 2.33rem;
            font-size: 1.25em;
        }
        .navbar-nav > li > a {
            //padding-top: 0.6rem;
            padding-top: 0.65em;
            padding-bottom: 0.1em;
        }
    }
    .navbar-brand {
        height: 40px;
    }
    label.remove_icon {
        margin-top: 0px;
    }
    .top_header .dropdown-menu {
        width: 12.5rem;
        right: 0.625rem;
        li a {
            font-size: 16px;
        }
    }
    .content_text {
        padding: 0 1.25rem;
        .blue_header {
            tr th {
                padding-left: 1.3rem;
            }
        }
        tbody tr td {
            border: none;
        }
        tbody {
            border-bottom: 1px solid #ddd;
        }
    }
    .header_text {
        padding: 2.5rem 1.25rem 0 1.25rem;
        hr {
            margin-top: 0.625rem;
            margin-bottom: 0.1em;
        }
        a.about_link:focus {
            color: #65ccff;
        }
    }
    .footer_text {
        padding: 0 1.25rem;
        hr {
            margin-bottom: 1.25rem;
        }
        .btn.close_button {
            margin-right: 2.5rem;
        }
    }
    .white-panel {
        height: 100%;
    }
    .text_footer_color {
        padding-top: 1rem;
        padding-top: 1rem;
        font-size: 0.6875rem;
    }
    .opencase_margin {
        padding: 8.75rem 6.125rem 0 6.125rem;
        font-size: 0.6875rem;
        height: 90%;
        //padding-bottom: 0.625rem;
        //min-height: 738px;
        .header_text {
            font-size: 1.875rem;
        }
        .content_text {
            height: calc(100% - 220px);
            //min-height: 360px;
        }
        .white-panel {
            //min-height: 450px;
            height: 100%;
        }
        .footer_text.payment_page {
            font-size: 16px;
            .inline-list {
                padding-top: 0.8%;
                padding-left: 1rem;
                padding-right: 1rem;
            }
            hr {
                margin-bottom: 20px;
            }
            .close_button {
                line-height: 1.76;
            }
        }
        .right_header_text {
            padding-top: 3rem;
            .btn-dark-yellow {
                font-size: $FONT15;
                width: 180px;
                height: 45px;
                line-height: 2.5;
            }
        }
        .text_align_center {
            font-size: 0.9375rem;
            padding-top: 1.43rem;
            padding-left: 1.47rem;
        }
        .close_button {
            height: 45px;
        }
    }
    .homepage .opencase_margin {
        padding: 8.75rem 5.2rem 0 5.2rem;
        font-size: 0.6875rem;
        width: 100%;
        height: 90%;
        .left_panel_one {
            width: 77%;
        }
        .right_panel_one {
            width: 23%;
        }
        .content_text {
            height: calc(100% - 230px);
            //min-height: 360px;
        }
        .white-panel {
            //min-height: 550px;
            height: 100%;
        }
        .header_text {
            padding: 2.5rem 1.4rem 0 1.4rem;
            font-size: 1.875rem;
            hr {
                margin-top: 0.625rem;
            }
            .remove_icon {
                display: none;
            }
        }
        .footer_text {
            hr {
                margin-bottom: 1rem;
            }
            .close_button {
                width: 96px;
                height: 45px;
                font-size: 1rem;
                line-height: 1.6;
            }
        }
        // Open New Matter dialog
        .dev {
            bottom: 6.8%;
            .content_text {
                height: calc(100% - 20em);
            }
        }
    }
    .account_page .opencase_margin {
        padding: 8.75rem 5.2rem 0 5.2rem;

        .content_text {
            height: calc(100% - 200px);
        }
        .subpanel_content {
            .row {
                padding-bottom: 0.5em;
            }
            .banner_label {
                text-align: right;
            }
            .padding_right_middle {
                //padding-right: 4em;
            }
            label {
                font-size: 0.75em;
            }
        }
        .profile_panel {
            .panel_item {
                margin: 0 0.7em;
                padding: 0.7em 0.85em;
                border-bottom: 2px solid #d9d9d9;
            }
            .panel_selectedItem {
                margin: 0 0.7em;
                padding-bottom: 0.875em;
                border-bottom: 2px solid #d9d9d9;
                .subpanel_title {
                    padding: 1em 0.7em 1em 1.5em;
                    label {
                        font-size: 1em;
                    }
                    .pull-left {
                        font-weight: 600;
                    }
                }
                .subpanel_footer {
                    padding-top: 0.7em;
                    margin-right: 0.85em;
                }
                .subpanel_content {
                    font-size: 0.75em;

                    .form-control {
                        height: 2em;
                        font-size: 1.3rem;
                        border-radius: 0;
                        line-height: 1.75;
                    }

                    .banner_label {
                        height: 3em;
                        top: 50%;
                        transform: translateY(20%);
                    }
                }
            }
        }
    }
    .info_page .opencase_margin {
        .close_button {
            line-height: 1.6;
        }
        #yesAndNo {

        }
    }
}


/* device for 1800px */

@media (max-width: 1800px) {
    .top_header {
        height: 63.63px;
        padding-left: 7rem;
        padding-top: 1em;
        .navbar-nav > li > a {
            font-size: $FONT14;
        }
        .brand-image {
            background-size: auto 55px;
        }
        .navbar-brand {
            height: 40px;
        }
        #navbar1 {
            margin-top: 0;
        }
    }
    .top_header .dropdown-menu {
        width: 11.5rem;
        right: 0.625rem;
        li a {
            font-size: 14px;
        }
    }
    .below_header {
        height: 36.36px;
        .submenu.navbar-collapse #selectElement li > a {
            font-size: $FONT14;
            //padding-top: 6.6%;
        }
        .navbar-nav > li > a {
            padding-top: 0.5rem;
        }
    }
    .opencase_margin {
        height: 90%;
        //min-height: 40rem;
        margin-bottom: 0.5rem;
        padding: 8rem 6.125rem 0 6.125rem;
        .white-panel {
            //min-height: 30rem;
        }
        .content_text {
            //min-height: 19rem;
            height: calc(100% - 210px);
        }
        .header_text {
            padding: 2.1rem 1.4rem 0 1.4rem;
            font-size: 1.765rem;
            
        }
        .footer_text {
            .close_button {
                width: 90px;
                height: 42px;
                font-size: 0.75rem;
                line-height: 1;
            }
        }
        .right_header_text {
            padding-top: 2.7rem;
            .btn-dark-yellow {
                font-size: $FONT14;
                width: 160px;
                height: 42px;
                line-height: 2.4;
            }
        }
        .right_panel_one {
            a.about_link {
                font-size: $FONT13;
            }
        }
        .footer_text_color {
            padding-top: 0.675rem;
        }
    }
    .homepage .opencase_margin {
        height: 90%;
        padding: 8rem 5.2rem 0 5.2rem;
        //min-height: 30rem;
        .white-panel {
            //min-height: 20rem;
        }
        .content_text {
            //min-height: 10rem;
            height: calc(100% - 215px);
        }
        .header_text {
            padding: 2.1rem 1.4rem 0 1.4rem;
            font-size: 1.765rem;
        }
        .right_header_text {
            padding-top: 2.7rem;
            .btn-dark-yellow {
                font-size: $FONT14;
                width: 160px;
                height: 42px;
                line-height: 2.4;
            }
        }
        .footer_text {
            hr {
                margin-bottom: 1rem;
            }
            .close_button {
                width: 96px;
                height: 45px;
                font-size: 1rem;
                line-height: 1.6;
            }
        }
        .footer_text_color {
            padding-top: 0.675rem;
        }
        // Open New Matter Dialog
        .dev {
            bottom: 7.6%;
        }
    }
    .account_page .opencase_margin {
        padding: 8rem 5.2rem 0 5.2rem;

        .content_text {
            height: calc(100% - 200px);
        }
        .subpanel_content {
            .row {
                padding-bottom: 0.5em;
            }
            .banner_label {
                text-align: right;
            }
            .padding_right_middle {
                //padding-right: 4em;
            }
            label {
                font-size: 0.75em;
            }
        }
        .profile_panel {
            .panel_item {
                margin: 0 0.7em;
                padding: 0.7em 0.85em;
                border-bottom: 2px solid #d9d9d9;
                font-size: 0.875em;

            }
            .panel_selectedItem {
                margin: 0 0.7em;
                padding-bottom: 0.875em;
                border-bottom: 2px solid #d9d9d9;
                .subpanel_title {
                    padding: 0.875em 0.7em 0.875em 1.5em;
                    label {
                        font-size: 0.875em;
                    }
                }
                .subpanel_footer {
                    padding-top: 0.7em;
                    margin-right: 0.85em;
                }
                .subpanel_content {
                    font-size: 0.69em;

                    .form-control {
                        height: 2.3em;
                        font-size: 1.1rem;
                        border-radius: 0;
                    }

                    .banner_label {
                        height: 2.5em;
                        top: 50%;
                        transform: translateY(20%);
                    }
                }
            }
        }
    }

    .info_page .opencase_margin {
        .header_menu {
            li a {
                font-size: $FONT14;
            }
        }

        .close_button {
            line-height: 1.6;
        }

        #yesAndNo {
            //font-size: $FONT15;   
        }
    }
}


/* device for 1536px */

@media (max-width: 1536px) {
    .top_header {
        height: 55.63px;
        padding-left: 7rem;
        padding-top: 0.6em;
        .navbar-nav > li > a {
            font-size: $FONT12;
        }
        .brand-image {
            background-size: auto 50px;
        }
        .navbar-brand {
            height: 40px;
        }
    }
    .top_header .dropdown-menu {
        width: 10.5rem;
        right: 0.625rem;
        li a {
            font-size: 12px;
        }
    }
    .below_header {
        height: 32.36px;
        .submenu.navbar-collapse {
            #selectElement li > a {
                font-size: $FONT12;
                //padding-top: 8.6%;
            }
            #selectElement li.active > a {
                font-size: $FONT12;
                border-bottom: 3.5px solid #ff9900;
                //padding-top: 5.5%;
            }
        }
        .navbar-nav > li > a {
            padding-top: 0.4rem;
            padding-bottom: 0.06em;
        }
    }
    .opencase_margin {
        height: 90%;
        //min-height: 40rem;
        margin-bottom: 0.5rem;
        padding: 7rem 6.125rem 0 6.125rem;
        .white-panel {
            //min-height: 30rem;
        }
        .content_text {
            //min-height: 19rem;
            height: calc(100% - 170px);
        }
        .header_text {
            padding: 2.27rem 1.4rem 0 1.4rem;
            font-size: 1.475rem;
           hr {
                margin-top: 0.3125rem;
            }
            .remove_icon {
                height: 30px;
            }
        }
        .padding-div-right {
            padding-top: 10px;
            font-size: $FONT12;
        }
        .right_header_text {
             padding-top: 2.43rem;
            .btn-dark-yellow {
                font-size: $FONT13;
                width: 140px;
                height: 38px;
                line-height: 2.3;
            }
        }
        .right_panel_one {
            a.about_link {
                font-size: $FONT10;
            }
        }
        .footer_text_color {
            padding-top: 0.675rem;
        }
        .footer_text.payment_page {
            font-size: 13px;
            .close_button {
                width: 80px;
                height: 36.5px;
                font-size: 0.625rem;
                line-height: 1.6;
            }
            hr {
                margin-top: 5px;
                margin-bottom: 15px;
            }
        }
    }
    .homepage .opencase_margin {
        height: 90%;
        padding: 7rem 5.2rem 0 5.2rem;
        //min-height: 30rem;
        .white-panel {
            //min-height: 20rem;
        }
        .content_text {
            //min-height: 10rem;
            height: calc(100% - 180px);
        }
        .header_text {
            padding: 2.27rem 1.4rem 0 1.4rem;
            font-size: 1.475rem;
            hr {
                margin-top: 0.3125rem;
            }
        }
        .footer_page {
            .remove_icon1 {
                background: url('../images/small_remove_icon.png') left center no-repeat;
                height: 30px;
            }
        }
        .right_header_text {
            padding-top: 2.43rem;
            .btn-dark-yellow {
                font-size: $FONT13;
                width: 140px;
                height: 38px;
                line-height: 2.3;
            }
        }
        .footer_text_color {
            padding-top: 0.475rem;
        }
        .footer_text {
            hr {
                margin-bottom: 1rem;
            }
            .close_button {
                width: 86px;
                height: 40px;
                font-size: 0.875rem;
                line-height: 1.31;
            }
        }
    }
    .account_page .opencase_margin {
        padding: 7rem 5.2rem 0 5.2rem;
       
        .subpanel_content {
            .row {
                padding-bottom: 0.5em;
            }
            .banner_label {
                text-align: right;
            }
            .padding_right_middle {
                //padding-right: 4em;
            }
            label {
                font-size: 0.75em;
            }
        }
        .profile_panel {
            .panel_item {
                margin: 0 0.7em;
                padding: 0.7em 0.85em;
                border-bottom: 2px solid #d9d9d9;
                font-size: 0.75em;
            }
            .panel_selectedItem {
                margin: 0 0.7em;
                padding-bottom: 0.875em;
                border-bottom: 2px solid #d9d9d9;
                .subpanel_title {
                    padding: 0.75em 0.7em 0.75em 1.5em;
                    label {
                        font-size: 0.75em;
                    }
                }
                .subpanel_footer {
                    padding-top: 0.7em;
                    margin-right: 0.85em;
                }
                .subpanel_content {
                    font-size: 0.625em;

                    .form-control {
                        height: 2em;
                        font-size: 1rem;
                        border-radius: 0;
                    }

                    .banner_label {
                        height: 2em;
                        top: 50%;
                        transform: translateY(20%);
                    }
                }
            }
        }
    }

    .info_page .opencase_margin {
        .header_menu {
            li a {
                font-size: $FONT12;
            }
        }
    }
}

// md device
@media (max-width: 1439px) {
    .top_header {
        height: 55.63px;
        padding-left: 7rem;
        padding-top: 0.6em;
        .navbar-nav > li > a {
            font-size: $FONT13;
        }
        .brand-image {
            background-size: auto 50px;
        }
        .navbar-brand {
            height: 40px;
        }
    }
    .below_header {
        height: 32.36px;
        .submenu.navbar-collapse {
            #selectElement li > a {
                font-size: $FONT13;
                //padding-top: 8.6%;
            }
            /*
            #selectElement li.active > a {
                font-size: $FONT13;
                //padding-top: 5.5%;
            }
            */
        }
        .navbar-nav > li > a {
            padding-top: 0.425rem;
        }
    }
    label.remove_icon {
        margin-top: 0px;
    }
    .opencase_margin {
        height: 90%;
        //min-height: 29rem;
        margin-bottom: 0.5rem;
        padding-bottom: 0rem;
        .white-panel {
            //min-height: 20rem;
            height: 100%;
            width: 100%;
        }
        .content_text {
            // min-height: 15.5rem;
            height: calc(100% - 210px);
        }
        .header_text {
             padding: 1.5rem 1.4rem 0 1.4rem;
            font-size: 1.2rem;
            hr {
                margin-top: 0.325rem;
            }
        }
        .right_header_text {
            padding-top: 2rem;
            .btn-dark-yellow {
                width: 7rem;
                font-size: 0.6875rem;
                height: 2.2rem;
            }
        }
        .footer_text_color {
            padding-top: 0.675rem;
        }
        .close_button {
            height: 2.5rem;
        }
        .blue_header tr th {
            font-size: 13px;
        }
        .text_align_center {
            font-size: 0.9375rem;
            padding-top: 1.43rem;
            padding-left: 2.8rem;
            text-align: left;
        }
    }
    .homepage .opencase_margin {
        padding: 7rem 5.2rem 0 5.2rem;
        //min-height: 25rem;
        height: 90%;
        .left_panel_one {
            width: 77%;
        }
        .right_panel_one {
            width: 23%;
        }
        .right_header_text {
            padding-top: 2rem;
            .btn-dark-yellow {
                width: 7rem;
                font-size: 0.6875rem;
                height: 2.2rem;
            }
        }
        .content_text {
            height: calc(100% - 190px);
            //min-height: 160px;
        }
        .white-panel {
            //min-height: 400px;
            height: 100%;
        }
        .header_text {
            padding: 1.5rem 1.4rem 0 1.4rem;
            font-size: 1.2rem;
            hr {
                margin-top: 0.325rem;
            }
        }
        .footer_text {
            hr {
                margin-bottom: 1rem;
            }
        }
        // Open New Matter Dialog
        .dev {
            bottom: 8.5%;
        }
        .payment_page {
            .close_button {
                width: 6.2em;
                height: 2.5em;
                font-size: .875rem;
                line-height: 1.33;
            }
        }
        .footer_page {
            padding: 1.8rem 1.4rem 0 1.4rem;
            .remove_icon1 {
                background: url('../images/small_remove_icon.png') left center no-repeat;
                height: 30px;
                width: 33px;
            }
            hr {
                margin-top: 10px;
            }
        }
    }
    .info_page .opencase_margin {
        padding: 8.75rem 6.125rem 0 6.125rem;
        .submenu_text {
            padding-top: 0px;
            font-size: 0.75rem;
        }
        .left_side_box {
            padding-left: 0px;
        }
    }
    /* Not Display
    .account_page .opencase_margin {
        padding: 8.75rem 6.125rem 0 6.125rem;
        font-size: 0.875rem;
        .left_panel_two {
            padding-right: 0px;
            padding-left: 0px;
            width: 77%;
        }
        .right_panel_two {
            padding-right: 0px;
            width: 23%;
        }
        .right_header_text {
            padding-top: 40px;
        }
        .header_text {
            hr {
                margin-top: 10px;
            }
        }
    }
    */
}


/* device for 1296px */

@media (max-width: 1296px) {
    .table > tbody > tr {
        height: 13px;
    }
    .top_header {
        height: 46px;
        padding-left: 7rem;
        padding-top: 0.6em;
        .navbar-nav > li > a {
            font-size: $FONT10;
            padding-top: 0.5em;
        }
        .seperate_line {
            font-size: $FONT10;
            padding-top: 0.8em;
        }
        .brand-image {
            background-size: auto 40px;
        }
        .navbar-brand {
            height: 30px;
        }
        #navbar1 {
            margin-top: 0;
        }
    }
    .top_header .dropdown-menu {
        width: 4.5rem;
        right: 0.625rem;
        li a {
            font-size: 10px;
            padding: 8px 3px;
        }
    }
    .below_header {
        height: 28px;
        .submenu.navbar-collapse {
            #selectElement li > a {
                font-size: 0.6rem;
                //padding-top: 8.6%;
            }
            #selectElement li.active > a {
                font-size: 0.6rem;
                //padding-top: 5.5%;
                border-bottom: 3px solid #ff9900;
            }
        }
        .navbar-nav > li > a {
            padding-top: 0.265rem;
            padding-bottom: 0em;
        }
        .navbar-header {
            height: 28px;
        }
    }
    label.remove_icon {
        margin-top: 0px;
    }
    .opencase_margin {
        height: 90%;
        //min-height: 29rem;
        margin-bottom: 0.5rem;
        padding: 6.05rem 6.125rem 0 6.125rem;
        .white-panel {
            //min-height: 20rem;
            height: 100%;
            width: 100%;
        }
        .content_text {
            // min-height: 15.5rem;
            height: calc(100% - 145px);
        }
        .header_text {
            padding: 2rem 1.4rem 0 1.4rem;
            font-size: 1.2rem;
            hr {
                margin-top: 0.3125rem;
            }
            .remove_icon {
                background: url('../images/small_remove_icon.png') left center no-repeat;
            }
        }
        .right_header_text {
            padding-top: 2.1rem;
            .btn-dark-yellow {
                width: 110px;
                font-size: 0.625rem;
                height: 33px;
                line-height: 2.4;
            }
        }
        .footer_text_color {
            padding-top: 0.675rem;
        }
        .blue_header tr th {
            font-size: 13px;
        }
        .text_align_center {
            font-size: 0.9375rem;
            padding-top: 1rem;
            padding-left: 2.6rem;
            text-align: left;
        }
        .footer_text.payment_page {
            font-size: 10px;
            .close_button {
                width: 70px;
                height: 32px;
                font-size: 0.6rem;
                line-height: 1.1;
            }
            hr {
                margin-top: 5px;
                margin-bottom: 10px;
            }
        }
        a.about_link {
            font-size: $FONT10;
        }
        .right_panel_one {
            a.about_link {
                font-size: $FONT10;
            }
        }
    }
    .homepage .opencase_margin {
        padding: 6.05rem 5.2rem 0 5.2rem;
        //min-height: 25rem;
        height: 90%;
        .left_panel_one {
            width: 77%;
        }
        .right_panel_one {
            width: 23%;
        }
        .right_header_text {
            padding-top: 2.1rem;
            .btn-dark-yellow {
                width: 110px;
                font-size: 0.625rem;
                height: 33px;
                line-height: 2.4;
            }
        }
        .content_text {
            height: calc(100% - 160px);
            //min-height: 160px;
        }
        .white-panel {
            //min-height: 400px;
            height: 100%;
        }
        .header_text {
            padding: 2rem 1.4rem 0 1.4rem;
            font-size: 1.2rem;
            hr {
                margin-top: 0.3125rem;
            }
        }
        .footer_text {
            hr {
                margin-bottom: 0.7rem;
            }
            .close_button {
                height: 33px;
                width: 70px;
                font-size: $FONT11;
            }
        }
        // Open New Matter Dialog
        .dev {
            bottom: 8.5%;
        }
        .footer_page {
            padding: 1.8rem 1.4rem 0 1.4rem;
            .remove_icon1 {
                background: url('../images/small_remove_icon.png') left center no-repeat;
                height: 30px;
                width: 33px;
            }
            hr {
                margin-top: 10px;
            }
        }
    }
    .info_page .opencase_margin {
        padding: 6.05rem 5.2rem 0 5.2rem;
        .submenu_text {
            padding-top: 0px;
            font-size: 0.75rem;
        }
        .left_side_box {
            padding-left: 0px;
        }
        .header_menu {
            margin-top: 5px;
        }
        .header_menu {
            li a {
                font-size: $FONT10;
            }
        }
    }
    
    .account_page .opencase_margin {
        padding: 6.05rem 5.2rem 0 5.2rem;

        .subpanel_content {
            .row {
                padding-bottom: 0.5em;
            }
            .banner_label {
                text-align: right;
            }
            .padding_right_middle {
                //padding-right: 4em;
            }
            label {
                font-size: 0.75em;
            }
        }
        .profile_panel {
            .panel_item {
                margin: 0 0.7em;
                padding: 0.7em 0.85em;
                border-bottom: 2px solid #d9d9d9;
                font-size: 0.625em;
            }
            .panel_selectedItem {
                margin: 0 0.7em;
                padding-bottom: 0.875em;
                border-bottom: 2px solid #d9d9d9;
                .subpanel_title {
                    padding: 0.75em 0.7em 0.75em 1.5em;
                    label {
                        font-size: 0.625em;
                    }
                }
                .subpanel_footer {
                    padding-top: 0.7em;
                    margin-right: 0.85em;
                }
                .subpanel_content {
                    font-size: 0.5em;

                    .form-control {
                        height: 2em;
                        font-size: 0.875rem;
                        border-radius: 0;
                    }

                    .banner_label {
                        height: 2em;
                        top: 50%;
                        transform: translateY(25%);
                    }
                }
            }
        }
    }
    
}

@media (max-width: 1023px) {
    .footer_text hr {
        // margin-bottom: 80px;
    }
    /*
    .container.opencase_page,
    .container.homepage,
    .container.closeclaim_page,
    .container.report_page {
        margin-top: 20px;
    }
    */
    .opencase_margin {
        height: auto;
        // min-height: 29rem;
        margin-bottom: 0.5rem;
        padding-bottom: 0rem;
        .white-panel {
            //    min-height: 20rem;
            height: 100%;
        }
        .content_text {
            height: calc(100% - 200px);
        }
        .header_text {
            padding: 1.5rem 1.4rem 0 1.4rem;
            font-size: 1.375rem;
            hr {
                margin-top: 0.3175rem;
            }
        }
        .right_header_text {
            padding-top: 2rem;
        }
        .footer_text_color {
            padding-top: 0.675rem;
        }
        .close_button {
            height: 40px;
        }
        .blue_header tr th {
            font-size: 13px;
        }
    }
    .homepage {
        margin-top: 70px;
        .opencase_margin {
            padding: 8% 0.3% 0% 4%;
            margin-top: 80px;
        }
        .right_header_text .btn {
            padding: 6px 2px;
            width: 100px;
            height: 30px;
            font-size: 10px;
        }
        .padding_left {
            padding-left: 60px;
        }
    }
    .header_text {
        padding: 40px 3% 0% 3%;
        hr {
            margin-top: 10px;
        }
    }
    .content_text {
        height: 500px;
    }
    .footer_text hr {
        margin-bottom: 4%;
    }
    .white-panel {
        height: 750px;
    }
    .account_page {
        margin-bottom: 0;
    }
    .info_page .opencase_margin {
        padding: 8.75rem 6.125rem 0 6.125rem;
        .submenu_text {
            padding-top: 0px;
            font-size: 0.75rem;
        }
        .left_side_box {
            padding-left: 0px;
        }
        .menu_text {
            font-size: 1.2rem;
        }
        .left_side_box {
            width: 27%;
        }
        .col-sm-9 {
            width: 73%;
        }
        .header_text {
            hr {
                margin-bottom: 0.5rem;
            }
        }
        .header_menu {
            margin-top: 5px;
        }
    }
    .account_page .opencase_margin {
        padding: 10% 1% 0% 1%;
        font-size: 24px;
        margin-top: 80px;
        .content_text {
            height: 420px;
        }
        .footer_text hr {
            margin-bottom: 6%;
        }
        .white-panel {
            height: 650px;
        }
    }
}
