.ProgressStepBox {
    position: relative;
    z-index: 1050;
    background-color: #ffffff;
    box-shadow: 0 5px 15px #888888;
    opacity: 1;
    background-clip: padding-box;
    width: 80%;
    height: 93%;
}

.ProgressStepBox thead tr th {
    padding: 1% 1%;
}

.modal-backdrop {
    z-index: 1040;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fdfdfd;
}

.modal-backdrop .in {}

.fade .in {
    opacity: 1;
}

.fade {
    transition: opacity 1;
}

.dev .modal-dialog {
    width: 90%;
    
    .wizard_form {
        padding: 0 2.2rem;

        .progress_from_to {
            padding-top: 0.75rem;
        }
    }

    #progress_box {
        display: inline-flex;
        width: 100%;
        margin-bottom: 1rem;
    }

    .center_text {
        font-size: 0.875rem;
    }
}

#myBar {
    width: 10%;
    height: 30px;
    background-color: #4CAF50;
    text-align: center;
    /* To center it horizontally (if you want) */
    line-height: 30px;
    /* To center it vertically */
    color: white;
}

#myProgress {
    width: 100%;
    background-color: grey;
}

.progress {
    width: 100%;
    display: inline-block;
    margin: 10px 15px 0 15px;
}

@media (min-width: 1900px) {
    .wizard_form {
        .col-sm-1.prev_button {
            padding-left: 15px;
        }
    }
}


