.info_page {
    .submenu_text {
        font-size: 16px;
        padding-top: 5px;
        li {
            padding-top: 5px;
        }
    }
    .container {
        width: 100%;
        background-color: #bdbdbd;
    }
}
