.info_page {
    .col-sm-3 .header_text {
        padding-top: 10%;
    }
    .header_menu {
        padding-right: 15px;
        font-size: 20px;
        margin: 20px 20px 0 0;
    }
    .submenu_text {
        font-size: 16px;
        padding-top: 5px;
        padding-left: 70px;

        li {
            padding-top: 10px;
            text-decoration: underline;
            list-style-image: url('../images/inactive-icon.png');

            a {
            	color: #bdbdbd;
            }

        }

        li.active {
        	list-style-image: url('../images/active-icon.png');

        	a {
        		color: #000000;
        	}
        }
    }

    .edit_link {
        margin: 10px 30px 0 0;
    }

    .menu_text {
    	padding: 30px 0 10px 25px;

    	span.active {
    		border-bottom: 4px solid #ff9900;
    	}

    	span:hover {
    		cursor: pointer;
    	}
    	
    }

    .container {
        width: 100%;
        background-color: #bdbdbd;
    }
    .content {
        margin-top: 80px;
    }
}
