.top_header {
    background-color: #0082C3;
    padding: 1rem 7rem;
    height: 4.4rem;
    
    .navbar-nav>li>a {
        color: #ffffff;
        font-size: 0.875rem;
        font-family: Hind-Regular;
    }
    .navbar-nav>li>a:hover {
        color: #ffffff;
        font-family: Hind-Medium;
        text-decoration: underline;
    }

    .dropdown-menu {
        top: 140%
    }

}

.below_header {
    box-shadow: 5px 5px 5px #7f7f7f;
    padding: 0 4rem;
    height: 2.5rem;
    background-color: #ffffff;
    .navbar-nav>.active>a {
        background-color: #ffffff;
    }

    a.navbar-brand {
        height: 2.33rem;
        font-size: 1.25em;
    }
}

.brand-image {
    background: url('../images/Logo.png') 0 center no-repeat;
    background-size: auto 60px;
    width: 125px;
}

@media (min-width: 1440px) {
    .brand-image {
        background-size: auto 60px;
        width: 165px;
    }
}

.submenu.navbar-collapse {
    #selectElement li > a {
        color: #bfbfbf;
        font-size: 0.875rem;
        padding-right: 0px;
        padding-left: 0px;
        margin: 0 20px;
        border-bottom: 4px solid #ffffff;
    }
    #selectElement li.active a {
        color: #0d0d0d;
        border-bottom: 4px solid #ff9900;
        background-color: #ffffff;
        font-family: Hind-Medium;
    }
   
    #selectElement li:hover a {
        color: #7f7f7f;
        font-family: Hind-Medium;
    }
    .navbar-default {
    }
    #selectElement li:focus a {
        color: #0d0d0d;
        background-color: #ffffff;
        border-bottom: 4px solid #ff9900;
    }
}

.right_header_text {
    .btn:click {
        background-color: grey;
    }
}

.dropdown-menu {
    li a {
        color: $blue_color;
        padding: 10px 3px;
    }
    li a:hover {
        background-color: #ff9900;
        color: #ffffff;
        font-family: Hind-Medium;
    }
}

.dropdown {
    .navbar-default .navbar-nav>.open>a,
    .navbar-default .navbar-nav>.open>a:focus,
    .navbar-default .navbar-nav>.open>a:hover {
        background-color: #003433;
    }
}

.heading_link {
    font-size: 15px;
}
.heading_link:hover {
    font-size: 15px;
    font-family: Hind-Medium;
}

.white_nav {
    li a {
        color: $blue_color;
    }
    .dropdown-menu {
        li:hover {
            background-color: #ff9900;
        }
    }
    // .navbar-default .navbar-nav>.open>a,
    .navbar-default .navbar-nav>.open>a:focus,
    {
        background-color: $blue_color;
        color: #ffffff;
    }
}

/* right click */

.context-menu {
    display: none;
    position: absolute;
    z-index: 10;
    padding: 12px 0;
    width: 240px;
    background-color: #fff;
    border: solid 1px #dfdfdf;
    box-shadow: 1px 1px 2px #cfcfcf;
}

.context-menu {
    display: none;
    position: absolute;
    z-index: 10;
    padding: 12px 0;
    width: 240px;
    background-color: #fff;
    border: solid 1px #dfdfdf;
    box-shadow: 1px 1px 2px #cfcfcf;
}

.context-menu--active {
    display: block;
}

.context-menu__items {
    list-style: none;
    margin: 0;
    padding: 0;
}

.context-menu__item {
    display: block;
    margin-bottom: 4px;
}

.context-menu__item:last-child {
    margin-bottom: 0;
}

.context-menu__link {
    display: block;
    padding: 4px 12px;
    color: #0066aa;
    text-decoration: none;
}

.context-menu__link:hover {
    color: #fff;
    background-color: #0066aa;
}
