.blue_header {
    background-color: $blue_color;
    th {
        height: 40px;
        color: #ffffff;
        padding-left: 15px;
    }

    td {
    	padding-left: 15px;
    }
}

.blue_content {
    color: $blue_color;
}

.padding-div-right {
    margin-right: 60px;
    padding-top: 13px;
}
