$MAIN_COLOR: #000;
$blue_color: #0082C3;
$grey_color: #b9b9b9;
$dark_yellow_color: #ff9900;
// container definition
$CONTAINER_CUSTOM_PADDING_LEFT: 2%;
$CONTAINER_CUSTOM_PADDING_RIGHT: $CONTAINER_CUSTOM_PADDING_LEFT;
