$MAIN_COLOR: #000;
$blue_color: #0082C3;
$grey_color: #b9b9b9;
$LIGHT_GREY_COLOR: #BFBFBF;
$dark_yellow_color: #ff9900;
$light_blue: #66cfff;

// container definition
$CONTAINER_CUSTOM_PADDING_LEFT: 2%;
$CONTAINER_CUSTOM_PADDING_RIGHT: $CONTAINER_CUSTOM_PADDING_LEFT;

$FONT10: 0.625rem;
$FONT11: 0.6875rem;
$FONT12: 0.75rem;
$FONT14: 0.875rem;
$FONT13: 0.8125rem;
$FONT15: 0.9375rem;

// em
$PIXEL5: 0.3145em;
$PIXEL10: 0.625em;
$PIXEL11: 0.6875em;
$PIXEL12: 0.75em;
$PIXEL14: 0.875em;
$PIXEL15: 0.9375em;

