.white-panel {
	background-color: #ffffff;
	height: 700px;
}

.footer_text {
	padding: 1% 4%;
}

.header_text {
    padding: 5% 3.5% 1% 3.5%;
    font-size: 30px;
    color: $blue_color;

    a {
        font-size: 16px;
    }
}

.content_text {
	padding: 0.5% 5%;
	height: 450px; 
}

.panel-margin {
    margin-bottom: 20px;
}
