// varialble
@import "./_vars";

@font-face {
    font-family: Hind-Regular;
    src: url('fonts/Hind-Regular.ttf');
}

@font-face {
    font-family: Hind-SemiBold;
    src: url('/fonts/Hind-SemiBold.ttf');
}
// common:
@import "./common";

// views:

// components-Header:
@import "./header";

// NavbarBox Css
@import "../components/NavbarBox/NavbarBox";

// ChartBox Css
@import "../components/ChartBox/ChartBox";

// CliameTableBox Css
@import "../components/ClaimTableBox/ClaimTableBox";

// RightBox Css
@import "../components/RightSideBox/index";

// ModalBox Css
@import "../components/ModalBox/ModalBox";

// containers:
@import "../containers/app/app";

// Info VIew
@import "../views/info/info";


