// varialble
@import "./_vars";

@font-face {
    font-family: Hind-Regular;
    src: url('fonts/Hind-Regular.ttf');
}

@font-face {
    font-family: Hind-SemiBold;
    src: url('/fonts/Hind-SemiBold.ttf');
}
// common:
@import "./common";

// views:

// components-Header:
@import "./header";

@import "../components/PaymentBox/PaymentBox";

// NavbarBox Css
@import "../components/NavbarBox/NavbarBox";

// ChartBox Css
@import "../components/ChartBox/ChartBox";

// CliameTableBox Css
@import "../components/ClaimTableBox/ClaimTableBox";

// RightBox Css
@import "../components/RightSideBox/index";

// ModalBox Css
@import "../components/ModalBox/ModalBox";

// Info VIew
@import "../views/info/info";

// InfoComponent
@import "../components/infoContentBox/InfoContentBox";

// Claim Index Page Css
@import "../components/IndexBox/IndexBox";

// StepBox
@import "../components/OpenMatter/StepBox";

// Claim Report
@import "../components/ClaimReportBox/ClaimReportBox";

@import "../components/Wizard/Wizard";

// containers:
@import "../containers/app/app";




