#appContainer {
    background-color: #b9b9b9;
}

.container {
    width: 100%;
    background-color: #b9b9b9;
}

.content {
    margin-top: 80px;
}

.opencase_margin {
    padding: 5% 3% 0 3%;
    margin-top: 6%;
}

.opencase_page {
    .opencase_margin {
        padding: 5% 4% 0 4%;
        margin-top: 6%;
    }
}

.closeclaim_page {
    .opencase_margin {
        padding: 5% 5% 0 5%;
        margin-top: 6%;
    }
    
}


