.panel_link {
	color: $light_blue;
	cursor: pointer;
}

.panel_selectedItem {
	background-color: #f1f1f1;
	margin: 0 0.7em;

	label {
		font-weight: 200;
	}
}

.cancel_link {
	cursor: pointer;
	color: $light_blue;
}

.addPositionFalse, .addPhoneFalse {
	display: none;
}

.addPositionTrue, .addPhoneTrue {
	display: inherit;
}

.about_link {
	cursor: pointer;
}
.grey {
	color: grey;

	.panel_link {
		color: $LIGHT_GREY_COLOR;
	}
}

.accordion {
	color: #0d0d0d;
}

::-webkit-scrollbar {
    width: 2px;
}

.left_panel_two {
	.content_text {
		overflow-y: auto;
	}
}

.subpanel_title {
	.pull-left {
		font-weight: 600;
		font-size: 1em;
	}
}

.subpanel_content {
	margin: auto 0;
	label {
		font-size: 0.75em;
	}
}
.form-horizontal .form-group {
    margin-left: 0px;
    margin-right: 0px;
}



